// @import url('http://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');
@import url('http://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic');

$fs_base: 1.2rem; //12px;
// $ff_base: Arial, serif;
$ff_base: 'Comfortaa', serif;
$c_base: #444;
$c_heading: #2E99EA;
$c_inactive: #ccc;

$bg_main: #fff;

$bg_content: #fff;

$c_border: #ccc;

$contentWidth: 960px;
$contentMaxWidth: 90%;

@mixin box-shadow($value) {
	-webkit-box-shadow: unquote($value);
	-moz-box-shadow: unquote($value);
	box-shadow: unquote($value);
}

@mixin transition($value) {
	-webkit-transition: unquote($value);
	-moz-transition: unquote($value);
	transition: unquote($value);
}

@mixin border-radius($value) {
	-webkit-border-radius: unquote($value);
	-moz-border-radius: unquote($value);
	border-radius: unquote($value);
}

@mixin transform($property, $value) {
	-webkit-transform: unquote($property) + '(' + $value + ')';
	-moz-transform: unquote($property) + '(' + $value + ')';
	transform: unquote($property) + '(' + $value + ')';
}

@mixin user-select($value) {
	-webkit-user-select: unquote($value);
	-moz-user-select: unquote($value);
	user-select: unquote($value);
}

/*-----------------*/

html, body {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

/*html {
	font-size: 62.5%;
}
body {
	margin: 0;
	color: $c_base;
	background: $bg_main;
	font-family: $ff_base;
	font-size: 1.2em;
}
*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*select, input, button, textarea, a.btn {
	background: $bg_content;
	font-size: $fs_base;
	font-family: inherit;
	color: $c_base;
	border: 1px solid #b5b8c8;
	@include border-radius('3px');
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
	min-height: 25px; min-height: 2.5rem;
	line-height: 1;
	@include transition('border 0.2s linear 0s, box-shadow 0.2s linear 0s');

	&:hover, &:focus {
		border-color: rgba(82, 168, 236, 0.8);
		text-decoration: none;
		@include box-shadow('0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(82, 168, 236, 0.6)');
		// @include box-shadow('0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(82, 168, 236, 0.6) !important');
	}
}

select:focus, input:focus, button:focus, textarea:focus, label:focus,
a:active, a:focus {
	outline: 0;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], select, textarea {
	width: 100%;
}

button, input[type="button"] {
	cursor: pointer;
}

input, select, a.btn {
	padding: 5px 8px; padding: 0.5rem 0.8rem;
}

input {
	&[type="checkbox"] {
		min-height: auto;
	}

	&[type="submit"] {
		cursor: pointer;
	}

	&[type="number"] {
		width: 55px;
	}

	&:disabled {
		background: #eee;
	}
}

textarea {
	padding: 5px; padding: 0.5rem;
	min-width: 100%;
	max-width: 100%;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

a {
	// color: $c_base;
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

dl {
	text-align: left;
	dt {
		float: left;
		font-weight: bold;
		width: 90px;
		width: 9rem;
		text-align: right;
		margin-right: 10px;
		margin-right: 1rem;
	}
	dd {
		// float: left;
	}
}

.clearfix:after {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

.hidden {
	display: none;
}

.alert {
	padding: 10px; padding: 1rem;
	border: 1px solid transparent;
	display: none;
	@include border-radius('5px');

	&.success {
		background-color: #ecf3e6;
		border-color: #e3ebd5;
		color: #8fbb6c;

		&:before {
			content: 'Success: ';
			font-weight: bold;
		}
	}

	&.error {
		background-color: #fef1f1;
		border-color: #fcd9df;
		color: #f56b6b;

		&:before {
			content: 'Error: ';
			font-weight: bold;
		}
	}

	&.warning {
		background-color: #fef8f4;
		border-color: #fce4dd;
		color: #f38733;

		&:before {
			content: 'Warning: ';
			font-weight: bold;
		}
	}

	&.info {
		background-color: #d9edf7;
		border-color: #bce8f1;
		color: #31708f;

		&:before {
			content: 'Info: ';
			font-weight: bold;
		}
	}

}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}
.col-xs-12 {
	width: 100%;
}
.col-xs-11 {
	width: 100% / 12 * 11; // width: 91.66666667%; width: calc(100%/12*11);
}
.col-xs-10 {
	width: 100% / 12 * 10; // width: 83.33333333%;
}
.col-xs-9 {
	width: 100% / 12 * 9; // width: 75%;
}
.col-xs-8 {
	width: 100% / 12 * 8; // width: 66.66666667%;
}
.col-xs-7 {
	width: 100% / 12 * 7; // width: 58.33333333%;
}
.col-xs-6 {
	width: 100% / 12 * 6; // width: 50%;
}
.col-xs-5 {
	width: 100% / 12 * 5; // width: 41.66666667%;
}
.col-xs-4 {
	width: 100% / 12 * 4; // width: 33.33333333%;
}
.col-xs-3 {
	width: 100% / 12 * 3; // width: 25%;
}
.col-xs-2 {
	width: 100% / 12 * 2; // width: 16.66666667%;
}
.col-xs-1 {
	width: 100% / 12 * 1; // width: 8.33333333%;
}

.full-height {
	height: 100%;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

img {
	max-width: 100%;
}

canvas {
	@extend img;
	height: auto !important;
	vertical-align: middle;
}


h1 {
	color: $c_heading;
	margin: 0 0 20px 0;
	margin: 0 0 2rem 0;
	font-size: 2.4rem;
}
h2 {
	color: $c_heading;
	margin: 0 0 10px 0;
	margin: 0 0 1rem 0;
	font-size: 2.0rem;
}

#loader {
	width: 64px;
	height: 64px;
	background: url(../img/loader.GIF) center center no-repeat;
	position: absolute;
	z-index: 999;
	left: calc(50% - 32px);
	top: calc(50% - 32px);
	opacity: 0.8;
}
 */