.mdl-layout__header-row {
	padding: 0 40px;
}

#wrapper {
	margin: auto;
	height: inherit;
}

#content {
	height: inherit;
	border: none;
	background: transparent;
	overflow: hidden;
	width: 980px;
	max-width: 90%;
	margin: auto;
	position: relative;

	.region {
		padding: 10px;
		min-height: 200px;
		border: 1px dashed transparent;

		&:last-child {
			margin-right: 0;
		}

		&.over {
			border-color: $c_border;
		}
	}

	div[draggable] {
		cursor: move;
	}

	div[contenteditable] {
		// outline: 0;
		// @include box-shadow('0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(82, 168, 236, 0.6)');
	}
}

#addtask-region {
	form {
		.form-field {
			margin-bottom: 20px;
		}
	}
}

#taskList {
	.mdl-card {
		width: auto;
		min-width: calc(50% - 10px);
		display: inline-block;
		margin: 5px;
		min-height: auto;
	}

	.mdl-button {
		cursor: default;
		display: block;
		&:hover {
			background: inherit;
		}
	}

	.mdl-card__supporting-text {
		width: 100%;
	}

	.mdl-color-text--grey-600 {
		color: #fff !important;
		font-weight: bold;
		background: #3F51B5;
	}
}

.task-box {
	&:hover {
		.remove-btn {
			display: block;
		}
	}

	.remove-btn {
		position: absolute;
		top: 3px;
		right: 3px;
		cursor: pointer;
		z-index: 1;
		line-height: 1;
		display: none;

		&:hover {
			&:after {
				@include transform('rotate', '180deg');
			}
		}

		&:after {
			content: '\2716';
			color: #B53F3F;
			color: #FDD3D3;
			@include transition('transform 0.3s linear 0s');
		}
	}
}