<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RitarSoft test</title>
	<script type="text/javascript" src="js/lib.js"></script>
	<script type="text/javascript" src="js/index.js"></script>

	<link rel="stylesheet" href="css/angular-material.css" type="text/css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
	<link rel="stylesheet" href="css/main.css" type="text/css" />
</head>
<body ng-app="ritarSoft" ng-controller="todoCtrl">
	<div id="wrapper">
		<div id="content">
			<div class="mdl-gen__preview">
				<div class="mdl-layout__container">
					<div data-upgraded=",MaterialLayout" class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer is-upgraded">
						<header class="mdl-layout__header is-casting-shadow">
							<div class="mdl-layout__header-row">
								<span class="mdl-layout-title">Drag'n'Drop TODOs</span>
							</div>
						</header>

						<main class="mdl-layout__content">
							<h3>Add new task</h3>

							<div id="addtask-region" class="mdl-cell mdl-cell--12-col ng-isolate-scope">
								<form ng-submit="addTask()">
									<input type="text" ng-model="title" name="title" placeholder="Title" autocomplete="off" class="mdl-textfield__input form-field">
									<textarea ng-model="description" name="description" placeholder="Description" class="mdl-textfield__input form-field"></textarea>
									<button data-upgraded=",MaterialButton,MaterialRipple" class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect">Ok<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
								</form>
							</div>

							<h3>Your tasks</h3>

							<div id="taskList" class="mdl-grid">
								<div id="todo-region" class="region mdl-cell mdl-cell--4-col" droppable drop="handleDrop">
									<h4>Todo region</h4>
									<div class="task-box demo-card-square mdl-card mdl-shadow--2dp" ng-repeat="task in todoList" id="{{task.id}}" draggable>
										<div class="">
											<div class="remove-btn" ng-click="removeTask('todo-region')"></div>
											<div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600" ng-dblclick="editTask($event, 'title')">{{task.title}}</div>
											<div class="mdl-card__actions mdl-card--border mdl-card__supporting-text" ng-dblclick="editTask($event, 'description')">{{task.description}}</div>
										</div>
									</div>
								</div>
								<div id="progress-region" class="region mdl-cell mdl-cell--4-col" droppable drop="handleDrop">
									<h4>In progress region</h4>
									<div class="task-box demo-card-square mdl-card mdl-shadow--2dp" ng-repeat="task in progressList" id="{{task.id}}" draggable>
										<div class="content">
											<div class="remove-btn" ng-click="removeTask('progress-region')"></div>
											<div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600" ng-dblclick="editTask($event, 'title')">{{task.title}}</div>
											<div class="mdl-card__actions mdl-card--border mdl-card__supporting-text" ng-dblclick="editTask($event, 'decsription')">{{task.description}}</div>
										</div>
									</div>
								</div>
								<div id="done-region" class="region mdl-cell mdl-cell--4-col" droppable drop="handleDrop">
									<h4>Done region</h4>
									<div class="task-box demo-card-square mdl-card mdl-shadow--2dp" ng-repeat="task in doneList" id="{{task.id}}" draggable>
										<div class="content">
											<div class="remove-btn" ng-click="removeTask('done-region')"></div>
											<div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600" ng-dblclick="editTask($event, 'title')">{{task.title}}</div>
											<div class="mdl-card__actions mdl-card--border mdl-card__supporting-text" ng-dblclick="editTask($event, 'decsription')">{{task.description}}</div>
										</div>
									</div>
								</div>
							</div>
						</main>
						<div class="mdl-layout__obfuscator"></div>
					</div>
				</div>
			</div>



		</div>
	</div>



</body>
</html>